.message__sender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.142);
    padding-top: 10px;
}
.message__sender__top{
    display: flex;
    align-items: center;
    padding: 15px;
}
.message__sender__top form{
    flex: 1;
    display: flex;
}
.message__sender__top form input{
    outline: none;
    border: none;
    padding: 15px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}
.btn{
    display: none;
}
.message__sender__input{
    flex: 1;
}
.message__sender__bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #eff2f5;
}
.msg-option{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}
.msg-option h4{
    margin-left: 10px;
    font-size: medium;
}
.msg-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:700px){
    .msg-option h4{
        margin-left: 3px;
        font-size: 13px;
    }
    .msg-option .MuiSvgIcon-root{
        font-size: 16px;
    }
    .msg-option{
        padding: 15px 3px;
        margin: 5px 0px;
    }
    
}
@media screen and (max-width:500px){
    .message__sender__top form input{
        padding: 15px 10px;
        margin: 0 5px;
    }
    .message__sender__url{
        width: 130px;
    }
    .message__sender__input{
        flex: 0.8;
    }
    .message__sender__top{
        margin: auto;
    }
    .msg-option h4{
        margin-left: 3px;
        font-size: 10px;
    }
}
@media screen and (max-width:450px){
    .message__sender__url{
        width: 80px;
    }
    .message__sender__top form input{
        padding: 11px 10px;
        margin: 0 9px;
    }
}
@media screen and (max-width:400px){
    .message__sender__url{
        width: 70px;
    }
    .message__sender__top form input{
        padding: 11px 10px;
        margin: 0 5px;
    }
}
@media screen and (max-width:370px){
    .message__sender__url{
        width: 65px;
    }
    .message__sender__top form input{
        padding: 10px 8px;
        margin: 0 3px;
    }
}