.app{
    background-color: #f1f2f5;
}
.app__body{
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}
.widgets, .sidebar{
    width: 29%;
    /* background-color: red; */
}
.feed{
    width: 60%;
    /* background-color: blue; */
}