.app{
    background-color: #f1f2f5;
}
.app__body{
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}
.widgets, .sidebar{
    width: 29%;
    /* background-color: red; */
}
.feed{
    width: 60%;
    /* background-color: blue; */
}
@media screen and (max-width:920px) {
    .app__body{
        flex-direction: column;
        padding: 2em 4em;
    }
}
@media screen and (max-width:720px) {
    .app__body{
        padding: 2em;
    }
}
@media screen and (max-width:720px) {
    .app__body{
        padding: 1em 0;
    }
}
/* all Responsive break points */


/* @media screen and (max-width:1140px){
    
    .sidebar{
        position: absolute;
        z-index: 50;
        background-color: white;
        width: 100%;
        height: 90vh;
        top: 66px;
        border-top: 3px solid #2e81f4;
        left:-100% ;
    }
    .active{
        left: 0;
    }
} */
